*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
}
body{
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}
header{

    display: flex;
    justify-content: space-between;
    background-color: rgb(38, 85, 134);
    padding: 20px;
}